apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: website
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/egedsoft/website
    targetRevision: HEAD
    path: dev
  destination:
    server: https://kubernetes.default.svc
    namespace: website
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    
    # automated:
    #   selfHeal: true
    #   prune: true